.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
/* #lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
} */
#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>div,
#lezioni .row>div,
#why .row>div{
  float: left;
}

/* #steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
} */

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  /* width: 100%; */
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
 }
img {
  height: 200px;
}

.clear {
  clear: both;
}

/*MEDIAQUERY*/
@media all and (max-width: 768px){
  .col-sx-1{
    width: calc( (100% / 12) * 1 )
  }
  .col-sx-2{
    width: calc( (100% / 12) * 2 )
  }
  .col-sx-3{
    width: calc( (100% / 12) * 3 )
  }
  .col-sx-4{
    width: calc( (100% / 12) * 4 )
  }
  .col-sx-5{
    width: calc( (100% / 12) * 5 )
  }
  .col-sx-6{
    width: calc( (100% / 12) * 6 )
  }
  .col-sx-7{
    width: calc( (100% / 12) * 7 )
  }
  .col-sx-8{
    width: calc( (100% / 12) * 8 )
  }
  .col-sx-9{
    width: calc( (100% / 12) * 9 )
  }
  .col-sx-10{
    width: calc( (100% / 12) * 10 )
  }
  .col-sx-11{
    width: calc( (100% / 12) * 11 )
  }
  .col-sx-12{
    width: calc( (100% / 12) * 12 )
  }
  /*offset*/
  .col-sx-offset-1{
    margin-left: calc( (100% / 12) * 1 )
  }
  .col-sx-offset-2{
    margin-left: calc( (100% / 12) * 2 )
  }
  .col-sx-offset-3{
    margin-left: calc( (100% / 12) * 3 )
  }
  .col-sx-offset-4{
    margin-left: calc( (100% / 12) * 4 )
  }
  .col-sx-offset-5{
    margin-left: calc( (100% / 12) * 5 )
  }
  .col-sx-offset-6{
    margin-left: calc( (100% / 12) * 6 )
  }
  .col-sx-offset-7{
    margin-left: calc( (100% / 12) * 7 )
  }
  .col-sx-offset-8{
    margin-left: calc( (100% / 12) * 8 )
  }
  .col-sx-offset-9{
    margin-left: calc( (100% / 12) * 9 )
  }
  .col-sx-offset-10{
    margin-left: calc( (100% / 12) * 10 )
  }
  .col-sx-offset-11{
    margin-left: calc( (100% / 12) * 11 )
  }
  .col-sx-offset-12{
    margin-left: calc( (100% / 12) * 12 )
  }
  /*display none*/
  .col-xs-display-none{
    display: none;
  }
  /*layout*/
  .container{
    content: "";
    clear: both;
    display: table;
  }
  .container:nth-of-type(2){
    background-color: #f4b459;
  }
  .container:last-of-type{
    background-color: white;
  }
  *{
    font-size: 40px;
    font-family: sans-serif;
    color:#444444;
    font-weight: 500;
  }
  h1{
    font-size: 100px;
    color: #324d5b;
    margin-top: 15px;
  }
  h3{
    font-size: 80px;
    color: #426273;
  }
  [class*="col-"]{
    margin-top: 80px;
    margin-bottom: 80px;
  }
  img{
    height: 250px;
  }
}

@media all and (min-width: 768px)
and (max-width: 992px){
  .col-md-1{
    width: calc( (100% / 12) * 1 )
  }
  .col-md-2{
    width: calc( (100% / 12) * 2 )
  }
  .col-md-3{
    width: calc( (100% / 12) * 3 )
  }
  .col-md-4{
    width: calc( (100% / 12) * 4 )
  }
  .col-md-5{
    width: calc( (100% / 12) * 5 )
  }
  .col-md-6{
    width: calc( (100% / 12) * 6 )
  }
  .col-md-7{
    width: calc( (100% / 12) * 7 )
  }
  .col-md-8{
    width: calc( (100% / 12) * 8 )
  }
  .col-md-9{
    width: calc( (100% / 12) * 9 )
  }
  .col-md-10{
    width: calc( (100% / 12) * 10 )
  }
  .col-md-11{
    width: calc( (100% / 12) * 11 )
  }
  .col-md-12{
    width: calc( (100% / 12) * 12 )
  }
  /*offset*/
  .col-md-offset-1{
    margin-left: calc( (100% / 12) * 1 )
  }
  .col-md-offset-2{
    margin-left: calc( (100% / 12) * 2 )
  }
  .col-md-offset-3{
    margin-left: calc( (100% / 12) * 3 )
  }
  .col-md-offset-4{
    margin-left: calc( (100% / 12) * 4 )
  }
  .col-md-offset-5{
    margin-left: calc( (100% / 12) * 5 )
  }
  .col-md-offset-6{
    margin-left: calc( (100% / 12) * 6 )
  }
  .col-md-offset-7{
    margin-left: calc( (100% / 12) * 7 )
  }
  .col-md-offset-8{
    margin-left: calc( (100% / 12) * 8 )
  }
  .col-md-offset-9{
    margin-left: calc( (100% / 12) * 9 )
  }
  .col-md-offset-10{
    margin-left: calc( (100% / 12) * 10 )
  }
  .col-md-offset-11{
    margin-left: calc( (100% / 12) * 11 )
  }
  .col-md-offset-12{
    margin-left: calc( (100% / 12) * 12 )
  }
  /*display none*/
  .col-md-display-none{
    display: none;
  }
  /* layout */
  .container{
    content: "";
    clear: both;
    display: table;
  }
  .container,
  .container.grey{
    background-color: #2b424d;
  }
  .row{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:#21323a;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  .row:first-child{
    margin-top: inherit;
  }
  [class*="col-"]{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  *{
    font-size: 1em;
    font-family: sans-serif;
    color: #ecf0f1;
    font-weight: 300;
  }
  body{
    background-color: #2b424d;
  }
  h1{
    font-size: 3em;
    color: #ecf0f1;
    padding-top:30px;
  }
  h1:first-child{
    margin-top: inherit;
  }
  h3{
    font-size: 2.125em;
    color: #ecf0f1;
  }
  #why .row>.first, #why .row>.second, #why .row>.third{
    margin-top: inherit;
  }
  #why .row img{
    height: 150px;
  }
  hr{
    display: none;
  }
}
/*media query large screen*/
@media all and (min-width:992px){
  .col-lg-1{
    width: calc( (100% / 12) * 1 )
  }
  .col-lg-2{
    width: calc( (100% / 12) * 2 )
  }
  .col-lg-3{
    width: calc( (100% / 12) * 3 )
  }
  .col-lg-4{
    width: calc( (100% / 12) * 4 )
  }
  .col-lg-5{
    width: calc( (100% / 12) * 5 )
  }
  .col-lg-6{
    width: calc( (100% / 12) * 6 )
  }
  .col-lg-7{
    width: calc( (100% / 12) * 7 )
  }
  .col-lg-8{
    width: calc( (100% / 12) * 8 )
  }
  .col-lg-9{
    width: calc( (100% / 12) * 9 )
  }
  .col-lg-10{
    width: calc( (100% / 12) * 10 )
  }
  .col-lg-11{
    width: calc( (100% / 12) * 11 )
  }
  .col-lg-12{
    width: calc( (100% / 12) * 12 )
  }
  /*offset*/
  .col-lg-offset-1{
    margin-left: calc( (100% / 12) * 1 )
  }
  .col-lg-offset-2{
    margin-left: calc( (100% / 12) * 2 )
  }
  .col-lg-offset-3{
    margin-left: calc( (100% / 12) * 3 )
  }
  .col-lg-offset-4{
    margin-left: calc( (100% / 12) * 4 )
  }
  .col-lg-offset-5{
    margin-left: calc( (100% / 12) * 5 )
  }
  .col-lg-offset-6{
    margin-left: calc( (100% / 12) * 6 )
  }
  .col-lg-offset-7{
    margin-left: calc( (100% / 12) * 7 )
  }
  .col-lg-offset-8{
    margin-left: calc( (100% / 12) * 8 )
  }
  .col-lg-offset-9{
    margin-left: calc( (100% / 12) * 9 )
  }
  .col-lg-offset-10{
    margin-left: calc( (100% / 12) * 10 )
  }
  .col-lg-offset-11{
    margin-left: calc( (100% / 12) * 11 )
  }
  .col-lg-offset-12{
    margin-left: calc( (100% / 12) * 12 )
  }
  /*display none*/
  .col-lg-display-none{
    display: none;
  }
}
